.container {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
  margin: 1rem 2rem;
  padding: 2rem 2rem;
}

.container-inner,
.container-inner-li {
  list-style: none;
}

.container-inner-li {
  border: 2px solid whitesmoke;
  padding: 1rem 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* contact section */

.contact-header {
  border: 2px solid black;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 1rem 2rem;
  background-color: gray;
}

.contact-details {
  margin-top: 3rem;
  padding: 1rem 1rem;
  border: 2px solid aliceblue;
  background-color: aliceblue;
  color: black;
}

.edit-link {
  text-decoration: line underline;
  color: red;
}

@media screen and (max-width: 800px) {
  .container {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 1rem 1rem;
    padding: 2rem 1rem;
  }

  .contact-h1 {
    font-size: 1.3em;
  }

  .container-inner,
  .container-inner-li {
    list-style: none;
  }

  .container-inner-li {
    border: 2px solid whitesmoke;
    padding: 1rem 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 750px) {
  .container {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 1rem 1rem;
    padding: 2rem 1rem;
  }

  .contact-h1 {
    font-size: 0.9em;
  }
}
